<nav class="topnav" aria-label="Navegacion principal">
  <div class="container nav-inner">
    <a class="brand" data-href="index.html" aria-label="Ir a Inicio">
      <!-- 
      <img class="brand-logo" src="../assets/logo_blanco.png" alt="miprofenlinea">
      -->
      <img class="brand-logo" src="/assets/logo_blanco.png" alt="miprofenlinea">

      <span class="brand-text">miprofenlinea</span>
    </a>




    <button class="nav-toggle" id="navToggle" type="button"
            aria-label="Abrir menu" aria-expanded="false" aria-controls="navLinks">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>

    <div class="nav-links" id="navLinks">
      <a class="nav-link" data-href="index.html">Inicio</a>
      <a class="nav-link" data-href="tutores.html">Nuestros Profes</a>
      <a class="nav-link" data-href="quienes-somos.html">Quienes somos</a>
      <a class="nav-link" data-href="contacto.html">Contacto</a>
    </div>
  </div>
</nav>
